.postsContainer {
  max-width: 1000px;
  margin: auto;
  background-color: white;
}

.feedTitle {
  font-size: 24px;
  color: #eb0a46;
  text-align: center;
}
.postImage {
  max-width: 100%;
  height: auto;
}

.post {
  border: 1px solid #c4a2a2;
  padding: 16px;
  margin-bottom: 16px;
}

.postHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.postAuthor {
  font-size: 18px;
  margin-right: 8px;
  position: absolute;
}

.postDate {
  font-size: 14px;
  color: #1c0303;
}

.postContent {
  color: #555;
  margin-bottom: 12px;
}

.postInfo {
  margin-top: 8px;
  color: #777;
}

.postActions {
  margin-top: 8px;
}

.likeButton,
.loveButton,
.deleteButton {
  padding: 5px 10px;
  margin-right: 10px;
  cursor: pointer;
  background-color: #3498db;
  color: #fff;
  border: none;
  border-radius: 3px;
  font-size: 0.9em;
}
.loveButton {
  background-color: #f51616;
}
.deleteButton {
  background-color: rgba(209, 39, 39, 0.804);
}
.likeIcon,
.loveIcon {
  margin-right: 5px;
}

.commentsList {
  list-style: none;
  padding: 0;
}

.comment {
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.postPic {
  height: 100px;
  width: 100px;
}
.postEdit {
  margin-left: 20px;
}

.list {
  list-style-type: none;
}
.dateTime {
  position: relative;
  left: 0px;
  top: 20px;
  font-size: 13px;
  color: grey;
}
.profilePic {
  height: 35px;
  width: 35px;
  border-radius: 50%;
}
.profileSec {
  display: flex;
  align-items: center;
}
.loginContainer {
  margin-left: 600px;
  margin-top: 100px;
}
.input {
  margin-bottom: 10px;
  margin-left: 10px;
  font-size: 15px;
}
.button {
  font-size: 20px;
  width: 75px;
  height: 40px;
  border: none;
  background-color: palevioletred;
  border-radius: 10px;
  margin-left: 100px;
  cursor: pointer;
}
.label {
  font-size: 20px;
}
