.postsContainer {
  background-color: #838796;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.postContainer {
  width: 100%;
  max-width: 600px;
  border: 1px solid #ccc;
  border-radius: 8px;
  overflow: hidden;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease-in-out;
  margin-bottom: 20px;
}

.postContainer:hover {
  transform: translateY(-5px);
}

.postHeader {
  padding: 15px;
  background-color: #353834;
}

.postTitle {
  font-size: 20px;
  color: #f5ebeb;
  margin: 0;
}

.postContent {
  color: #171515;
  margin: 10px 15px;
}

.commentContainer {
  padding: 15px;
  background-color: #9ba5b1;
}

.comment {
  margin-bottom: 10px;
  color: #150808;
}

.comment:last-child {
  margin-bottom: 0;
}
